/* Structure */
table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.box {
  width: 50px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  margin-right: 11px;
  margin-left: 12px;
}
