<div class="d-flex flex-column justify-content-center">

  <div class="d-flex flex-row">
    <h2 class="pl-2"> Registrados </h2>
    <button class="btn btn-outline-info ml-4" (click)="irRegistrados()"> Ver registrados</button>
    <button class="btn btn-danger" (click)="logOut()" style="margin-left: 50%;">Cerrar Sesion</button>
  </div>

  <!-- TABLA REGISTRADOS-->
  <mat-tab-group>
    <mat-tab *ngFor="let tab of eventsTabs ">
      <ng-template mat-tab-label>{{tab.nombre}} </ng-template>

      <h4>Aforo maximo: {{tab.capacidad}}</h4>
      <h4>Numero de inscritos: {{tab.inscritos}}</h4>
      <h4> Fecha del evento: {{tab.fecha}}</h4>

      <div class="card mt-2">
        <!-- *ngFor="let evento of tab.events"> -->
        <div class="card-body">

          <!-- Buscar por cedula o nombre -->
          <!-- 
          <mat-form-field class="pl-4 pr-4">
            <mat-label> Buscar asistente </mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ingrese el numero de cedula" #input>
          </mat-form-field>
 -->
          <!-- Tabla de asistentes -->

          <table mat-table [dataSource]="tab.asistentes" class="mat-elevation-z4" #tablaregistro>

            <!-- Cedula Column -->
            <ng-container matColumnDef="cedula">
              <th mat-header-cell *matHeaderCellDef> N° Cedula </th>
              <td mat-cell *matCellDef="let element"> {{element.docID }} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
            </ng-container>


            <!-- Apellidos Column -->
            <ng-container matColumnDef="apellidos">
              <th mat-header-cell *matHeaderCellDef> Apellidos </th>
              <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
            </ng-container>

            <!-- Ministerio Column -->
            <ng-container matColumnDef="ministerio">
              <th mat-header-cell *matHeaderCellDef> Ministerio </th>
              <td mat-cell *matCellDef="let element"> {{element.ministerio}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef> Correo </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>


            <!-- Temperatura Column -->
            <ng-container matColumnDef="temperatura">
              <th mat-header-cell *matHeaderCellDef> Temperatura </th>
              <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
            </ng-container>

            <!-- Questions 1 -->
            <ng-container matColumnDef="q1">
              <th mat-header-cell *matHeaderCellDef> Q1 </th>
              <td mat-cell *matCellDef="let element"> {{element.question1COVID == true ? 'SI' : 'NO' }} </td>
            </ng-container>


            <!-- Questions 2 -->
            <ng-container matColumnDef="q2">
              <th mat-header-cell *matHeaderCellDef> Q2 </th>
              <td mat-cell *matCellDef="let element"> {{element.question2COVID == true ? 'SI' : 'NO' }} </td>
            </ng-container>


            <!-- Questions 3 -->
            <ng-container matColumnDef="q3">
              <th mat-header-cell *matHeaderCellDef> Q3 </th>
              <td mat-cell *matCellDef="let element"> {{element.question3COVID == true ? 'NO' : 'SI' }} </td>
            </ng-container>

            <!--             
            <ng-container matColumnDef="Temperatura">
              <th mat-header-cell *matHeaderCellDef> Temperatura</th>
              <td mat-cell *matCellDef="let element">
                <form [formGroup]="temperatura" class="d-flex">

                  <input formControlName="temp" matInput type="number" class="box" placeholder="  °C">
                  <button class="btn btn-info" [disabled]="this.temperatura.status == 'INVALID'"
                    (click)="update(element)">Actualizar</button>
                </form>
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
          </table>


          <div class="d-flex flex-column">
            <button type="button" class="btn btn-success mt-4 " (click)="exportxls(tab.id)">Export Excel</button>
            <button type="button" class="btn btn-outline-danger mt-4" (click)="eliminarEvento(tab.id)">eliminar
              evento</button>

          </div>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>


  <hr>
  <h2 class="pl-2"> Crear Nuevo Evento</h2>
  <form class="d-flex flex-column p-4" [formGroup]="createEvent">

    <mat-form-field appearance="fill" class="mb-2">
      <mat-label>Nombre del evento </mat-label>
      <input matInput placeholder="Ingresa tu numero de documento" formControlName="eventName">
      <mat-hint>Asignar un nombre del evento, Ex.SOMOS UNO </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-2">
      <mat-label>Fecha del evento </mat-label>
      <input matInput placeholder="Ingresa Fecha Dia/Mes/Año" formControlName="eventDate">
      <mat-hint>Ex. Dia/Mes/Año </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-2">
      <mat-label>Hora</mat-label>
      <input matInput placeholder="Ingresa Fecha Dia/Mes/Año" formControlName="eventHora">
      <mat-hint>Hora Militar ex. 13:00 </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-2">
      <mat-label>Aforo de personas </mat-label>
      <input matInput type="number" placeholder="Ingresa tu numero de documento" formControlName="eventAforo">
      <mat-hint>Cantidad de cupos </mat-hint>
    </mat-form-field>

    <button type="button" class="btn btn-primary mt-4" [disabled]="this.createEvent.status == 'INVALID'"
      (click)="createNewEvent()">Crear Evento</button>
  </form>

</div>
