<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Preguntas Sanidad COVID</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-justify">

    <!-- ocultado
    <div class="temperatura">
      <form [formGroup]="temperaturaccess">
        <mat-form-field appearance="fill">
          <mat-label>Temperatura</mat-label>
          <input matInput type="number" maxlength="4" placeholder="°C" formControlName="temperature">
        </mat-form-field>
      </form>
    </div> -->

    <!--contenido preguntas -->
    <div class="question1">
      <p>
        En los últimos 14 días ha tenido Ud, alguno de sus familiares o circulo de amigos mas cercanos contacto con
        alguien diagnosticado con COVID-19? *
      </p>

      <div class="mb-2">
        <form [formGroup]="covid1">
          <mat-radio-group class="d-flex flex-column" formControlName="q1">
            <mat-radio-button class="example-margin" value="true">Si</mat-radio-button>
            <mat-radio-button class="example-margin" value="false">No</mat-radio-button>
          </mat-radio-group>
        </form>
      </div>
    </div>


    <div class="question2">
      <p>
        En los últimos 14 dias ha sido diagnosticado Ud, alguno de sus familiares o circulo de amigos mas cercano como
        sospechoso o positivo con COVID-19? *
      </p>
      <div class="mb-2">
        <form [formGroup]="covid2">
          <mat-radio-group class="d-flex flex-column" formControlName="q2">
            <mat-radio-button class="example-margin" value="true">Si</mat-radio-button>
            <mat-radio-button class="example-margin" value="false">No</mat-radio-button>
          </mat-radio-group>
        </form>
      </div>
    </div>

    <div class="question3">
      <p>
        Actualmente ha presentado Ud o familiares o circulo de amigos mas cercanos alguno de los siguientes síntomas? *
      </p>

      <form [formGroup]="covid3">
        <section class="d-flex flex-column example-section">
          <mat-checkbox [value]="true" class="example-margin" formControlName="q31">
            Fiebre mayor a 38 grados
          </mat-checkbox>
          <mat-checkbox [value]="true" class="example-margin" formControlName="q32">
            Dificultad para respirar
          </mat-checkbox>
          <mat-checkbox [value]="true" class="example-margin" formControlName="q33">
            Síntomas gripales
          </mat-checkbox>
          <mat-checkbox [value]="true" class="example-margin" formControlName="q34">
            Perdida del gusto u olfato
          </mat-checkbox>
          <mat-checkbox value="false" class="example-margin" formControlName="qfinal">
            Ninguna de las anteriores
          </mat-checkbox>
        </section>
      </form>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="this.covid1.status == 'INVALID' || 
                this.covid2.status == 'INVALID' || 
                this.covid3.status == 'INVALID'" (click)="registro()">Registrarme a la Reunion</button>
    <!-- this.temperaturaccess.status == 'INVALID' -->
  </div>
</ng-template>

<div class="d-flex justify-content-end mb-2">
  <button class="btn btn-outline-primary mb-2 justify-content-end" *ngIf="!registrado && !cupo"
    (click)="open(mymodal)">Asistir</button>
  <div class="d-flex flex-column">
    <p class="alert alert-warning" *ngIf="registrado">Estas registrado a este evento</p>
    <p class="alert alert-info" *ngIf="cupo">Nuestro aforo se ha completado,<strong>Te recomendamos revisar otro
        horario.</strong></p>

  </div>
</div>
