<div class="container-general">
  <div class="content">
    <div class="container-left">
    </div>
    <div class="container-right scroll-direction-y">
      <div class="subtitle">
        <div class="title">
          <h1 class="header"></h1>
        </div>

        <h3 class="des">Formulario registro reuniones MCI Yopal</h3>
      </div>
      <router-outlet name="registroUser"></router-outlet>
      <app-validation-form class="ng-star-inserted"></app-validation-form>

      <div class="d-flex flex-row justify-content-center" style="margin-top:136px">
        <a (click)="pageLogin()" class="btn link"> Acceso al Administrador </a>
      </div>
    </div>

  </div>
</div>

<!-- 
<li><a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a></li> -->
