<div class="container-general">
  <div class="content">
    <div class="container-right scroll-direction-y">
      <div class="subtitle">
        <div class="title">
          <h3 class="header">Gracias por Registrarte</h3>
        </div>
      </div>
      <app-validation-form [userAsistir]="userID" class="ng-star-inserted"></app-validation-form>
    
      <div class="d-flex justify-content-end p-2 mb-2 mr-2" >
        <button type="button" class="btn btn-outline-yellow" (click)="consultarOtro()"> Atras
        </button>
      </div>
    </div>

  </div>
</div>
